.cardContainer {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.18);
}
.cardHeading {
  color: #000;
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  align-self: stretch;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.inputFiled {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.inputHeader {
  color: #000;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input {
  height: 40px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: #fff;
}
.passwordReminder {
  color: #208d8e;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.loginButton {
  display: flex;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: #208d8e;
}
.buttonText {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.goRegister {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}
.goRegisterQuestion {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.goRegisterText {
  color: #208d8e;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
