.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--L);
  align-self: stretch;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  align-self: stretch;
}

.inputFiled {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--XS);
  align-self: stretch;
}
.inputHeader {
  color: #000;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input {
  height: var(--XL);
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: #fff;
}
.checkboxContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--XS);
}
.checkboxText {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #999;
}
.buttonContainer {
  display: flex;
  height: var(--XL);
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background-color: var(--brand-primary);
}
.buttonText {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
