@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekan;
  src: url("../src/assets/fonts/BYekan.ttf");
}

@font-face {
  font-family: IRANYekan;
  src: url("../src/assets/fonts/BYekan-Bold.ttf");
  font-weight: bold;
}

:root {
  --brand-primary: #208d8e;
  --XL: 40px;
  --M: 24px;
  --L: 32px;
  --XS: 8px;
}

* {
  font-family: IRANYekan;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
