@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekan;
  src: url("../src/assets/fonts/Yekan-normal.ttf") format('truetype');
  font-weight: normal;
}

:root {
  --brand-primary: #208d8e;
  --black: #1e1e1e;
  --XL: 40px;
  --L: 32px;
  --M: 24px;
  --S: 16px;
  --XS: 8px;
}

* {
  @apply font-yekan
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

